[user]
  name = Batandwa Colani
  email = i@batandwa.me
[alias]
  st = status
  ci = commit -v
  co = checkout
  br = branch
  unstage = reset HEAD --
  last = log -1 HEAD
  start = "!git init; git add .; git commit --allow-empty -m \"Initial commit\""
[core]
  filemode = false
